<app-common-header></app-common-header>
<div class="container">
<div class="jumbotron mt-4">
    <h1 class="display-4">Hello, {{currentUser.userName}}</h1>
    <hr class="my-4">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">User Name : {{currentUser.userName}}</li>
        <li class="list-group-item">User Email : {{currentUser.userEmail}}</li>
      </ul>
  </div>

  <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group">
          <label for="old">Old Password</label>
          <input class="form-control" type="password" formControlName="oldPassword" name="" id="old"
            required>
          <label class="alert alert-danger mt-2" for="old"
            *ngIf="formModel.get('oldPassword').touched && formModel.get('oldPassword').errors?.required">Password
            is required</label>
          <label class="alert alert-danger mt-2"
            *ngIf="formModel.get('oldPassword').touched && formModel.get('oldPassword').errors?.minlength">Password
            must be atleast 4 charachters</label>
      </div>
      <div class="form-group">
            <label for="new">New Password</label>
          <input class="form-control" type="password" formControlName="newPassword" name="" id="new"
            required>
          <label class="alert alert-danger mt-2" for="new"
            *ngIf="formModel.get('newPassword').touched && formModel.get('newPassword').errors?.required">Password
            is required</label>
          <label class="alert alert-danger mt-2"
            *ngIf="formModel.get('newPassword').touched && formModel.get('newPassword').errors?.minlength">Password
            must be atleast 4 charachters</label>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!formModel.valid">Change</button>
      </form>
</div>
