<app-common-header></app-common-header>

<div class = "container">
  <h3 class = "mt-5" *ngIf="!existed">Add country</h3>
  <h3 class = "mt-5" *ngIf="existed">Edit country</h3>
  <form class = "mt-5" (ngSubmit)="onSubmit()" #countryForm="ngForm">
    <div class="form-group">
      <label for="countryName">Name:</label>
      <input type="text" class="form-control" id="countryName" minlength="4" maxlength="60"
      [(ngModel)]="country.countryName" name="name" #name = "ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Name is required.</div>
        <div *ngIf="name.errors.minlength">Name must be at least 4 characters long.</div>
      </div>
    </div>
    <div class="btn-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
  </div>
  </form>
</div>